
<nav ng-controller="LoginController as vm" class="navbar navbar-expand-lg navbar-fixed-top bg-dark" ng-init="vm.init()">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <!-- <span class="sr-only">Toggle navigation</span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">World Foods</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li  class="active"><a routerLink="">Home</a></li>
        <li  class="active"><a routerLink="countries">Countries</a></li>
        
        </ul>
      <div class="col-xs-6">
        
      </div>
      
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

