<h2>Job list <h2> 
    <!-- <game-rating></game-rating> -->
</p></h1>



<table class="table table-data">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Salary</th>
      <th scope="col">Post date</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="job in vm.jobs">
      <td>{{job.title}}</td>
      <td>{{job.salary | currency }}</td>
      <td>{{job.postdate | date}}</td>
      <td><a href="/#!/job/{{job._id}}">Details</a></td>

    </tr>
    
  </tbody>
</table>


<form class="form-group" name= vm.jobForm ng-submit="vm.addJob()">
    To add a new job please fill in the field below: <br/>
    title:<input class="form-label mt-4" type = "text" name ="name" required ng-model="vm.formJob.title" style ="color: black;"/><br/> 

    salary:<input class="form-label mt-4" type = "number" name ="salary"  ng-model="vm.formJob.salary" style ="color: black;"/><br/> 

    Description: <textarea  name="description" rows="3" required ng-model="vm.formJob.description" style ="color: black;"></textarea><br/>
   
    <button type="submit" class="btn-success">Add Job</button> <br/>

</form>